@import './font.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-weight: 400;
	font-family: 'FiraCode';
	background: #ededed;
}

html {
	scroll-behavior: smooth;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	position: relative;

	.LOADING,
	.ERROR {
		position: fixed;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		font-size: clamp(1rem, 3.5vw, 5rem);
		background: #f2ff0337;
		backdrop-filter: blur(7px);
		padding: 100%;
	}
	.LOADING {
		color: gold;
	}
	.ERROR {
		color: red;
	}

	.section__title {
		font-weight: 500;
		margin: 1.5rem 0;
		font-size: clamp(1rem, 2.5vw, 2.5rem);
	}

	& .container {
		max-width: 1300px;
		width: 100%;
		padding: 0 15px;
		margin: 0 auto;
	}

	button {
		padding: 0.4rem 1.2rem;
		outline: 1px solid #000;
		color: #000;
		font-size: clamp(1rem, 2.5vw, 1.5rem);
		font-weight: 400;
		transition: 0.3s all ease-in-out;

		&:hover {
			color: #fff;
			background: #000;
			cursor: pointer;
		}
	}

	.goods__details {
		min-height: 100vh;
		width: 100%;

		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border: 1px solid #000;
		}

		.figure {
			width: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.content {
			display: flex;
			flex-flow: column wrap;
			align-items: flex-start;
			gap: 1rem;
		}
	}
}

.main {
	flex-grow: 1;
	margin-top: 6.5rem;
}

button,
input {
	background: none;
	border: none;
	outline: none;
}

input [type='text'],
input [type='password'] {
	border-bottom: 1px solid #000;
}

::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:is(ul, a) {
	list-style: none;
	text-decoration: none;
	color: #fff;
}
